.tittle h1{
    color: antiquewhite;
}

.login{
    background-image: url(/css/imagenes/bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    color: azure;
    
}